---
---
/*
 #d1d1c6	(209,209,198)   LIGHT
 #babfb7	(186,191,183)
 #a3a8a3	(163,168,163)
 #898e8c	(137,142,140)
 #565959	(86,89,89)      DARK
 * */

:root {
    --color-primary: #ffd681;
    --color-dim-primary: #8f8d8d;
    --color-dim-bg: #201b37;
    --color-text: #ffd681;
    --color-link: #ffd681;
    --color-bg: #110b2b;
    --color-logo-full: #ffd681;
    --color-logo-1: #110b2b;
    --color-logo-2: #ffd681
}
@media (prefers-color-scheme: light) {
    :root {
        --color-primary: black;
        --color-dim-primary: #696969;
        --color-dim-bg: #fafafa;
        --color-link: #444;
        --color-bg: white;
        --color-logo-full: black;
        --color-logo-1: black;
        --color-logo-2: white
    }
}

a {
    color: var(--color-primary);
    font-weight: 550;
    padding: 2px
}

a:hover {
    color: var(--color-bg);
    background-color: var(--color-primary);
    text-decoration: none
}

*,*::before,*::after {
    box-sizing: border-box
}

body {
  max-width: 650px;
  margin: 0px auto;
  padding: 0px 0px;
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #565959;/*#4F200D;*/
  background: #F6F1E9;
}

blockquote {
  margin: 20px 20px;
  text-align: center;
}

a:link {
  color: #565959;
}

a:visited {
  color: #FFD93D;
}

h1 {
  line-height: 2.2;
  text-align: center;
}

h2,
h3 {
  line-height: 1.2;
}

div {
  border: 0.5px solid black;
  padding: 0px 30px;
}

img {
    height: auto;
}

.button {
   /*border-top: 1px solid #96d1f8;*/
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#d1d1c6), to(#a3a8a3));
   background: -webkit-linear-gradient(top, #d1d1c, #a3a8a3);
   background: -moz-linear-gradient(top, #d1d1c, #a3a8a3);
   background: -ms-linear-gradient(top, #d1d1c, #a3a8a3);
   background: -o-linear-gradient(top, #d1d1c, #a3a8a3);
   display: block;
   width: 100%;
   height: 100%;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   /*-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
   color: white;
   font-size: 16px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   /*vertical-align: middle;*/
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #1b3c53;
    background: #d2c1b6;
  }

  a:link {
    color: #456882;
  }

  a:visited {
    color: #234c6a;
  }
}

.page-menu {
    font-size: 18px;
    text-align: end;
    width: 100%;
    margin-top: 0px
}

.page-menu a {
    font-family: ZillaSlab-Regular;
    text-transform: lowercase
}

@media {
    .page-menu {
        margin-top: 0px
    }
}

.page-menu .menu-toggle:focus+.menu,.page-menu .menu:hover {
    display: block;
    border: 1px solid var(--color-primary)
}

@media {
    .page-menu .menu:hover {
        border:0px;
        display: flex
    }
}

.page-menu .menu {
    background: var(--color-bg);
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*position: absolute;
    right: 0;
    top: 0;
    display: none;
    overflow: visible;
    text-align: start*/
}

@media {
    .page-menu .menu {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        position: relative;
        overflow: visible;
        width: 100%
    }
}

.page-menu .menu-toggle {
    position: relative;
    /*z-index: 10;*/
    display: inline-block
}

.page-menu .menu-toggle span {
    display: block;
    height: 1.5rem;
    width: 1.5rem
}

@media {
    .page-menu .menu-toggle {
        display:none
    }
}

.page-menu .menu-item {
    display: block
}

@media {
    .page-menu .menu-item:not(:last-child) {
        border-right:1px solid var(--color-primary)
    }
}

.page-menu .menu-link {
    color: var(--color-link);
    cursor: pointer;
    display: block;
    flex: none;
    min-width: 50px;
    padding: 0px 0px;
    text-decoration: none
}

.page-menu .menu-link:hover,.page-menu .menu-link:focus,.page-menu .menu-link.active {
    color: var(--color-bg);
    background-color: var(--color-primary);
    text-decoration: none
}

@media {
    .page-menu .menu-link {
        padding:0px 10px
    }
}
