---
---
/*
 #d1d1c6	(209,209,198)   LIGHT
 #babfb7	(186,191,183)
 #a3a8a3	(163,168,163)
 #898e8c	(137,142,140)
 #565959	(86,89,89)      DARK
 * */
body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #565959;/*#4F200D;*/
  background: #F6F1E9;
}

a:link {
  color: #FF8400;
}

a:visited {
  color: #FFD93D;
}

h1 {
  line-height: 1.2;
  text-align: center;
}

h2,
h3 {
  line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #1b3c53;
    background: #d2c1b6;
  }

  a:link {
    color: #456882;
  }

  a:visited {
    color: #234c6a;
  }
}

