---
---
/*
 #d1d1c6	(209,209,198)   LIGHT
 #babfb7	(186,191,183)
 #a3a8a3	(163,168,163)
 #898e8c	(137,142,140)
 #565959	(86,89,89)      DARK
 * */
body {
  max-width: 650px;
  margin: 10px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #565959;/*#4F200D;*/
  background: #F6F1E9;
}

blockquote {
  margin: 50px 50px;
}

a:link {
  color: #565959;
}

a:visited {
  color: #FFD93D;
}

h1 {
  line-height: 2.2;
  text-align: center;
}

h2,
h3 {
  line-height: 1.2;
}

/*div {
  border: 1px solid green; 
}*/

img {
    height: auto;
}

.button {
   /*border-top: 1px solid #96d1f8;*/
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#d1d1c6), to(#a3a8a3));
   background: -webkit-linear-gradient(top, #d1d1c, #a3a8a3);
   background: -moz-linear-gradient(top, #d1d1c, #a3a8a3);
   background: -ms-linear-gradient(top, #d1d1c, #a3a8a3);
   background: -o-linear-gradient(top, #d1d1c, #a3a8a3);
   display: block;
   width: 100%;
   height: 100%;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   /*-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
   color: white;
   font-size: 16px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   /*vertical-align: middle;*/
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}


@media (prefers-color-scheme: dark) {
  body {
    color: #1b3c53;
    background: #d2c1b6;
  }

  a:link {
    color: #456882;
  }

  a:visited {
    color: #234c6a;
  }
}

