---
---

:root {
    --color-menu-hover: #547792;
    --color-menu-link: #0B2D72;
    --color-menu-bg: #F5FBE6;
	--color-bg: #F5FBE6;
	--color-text: #215E61;
	--color-link: #547792;
	--color-link-visited: #FAB95B;
}
@media (prefers-color-scheme: dark) {
:root {
	--color-menu-hover: #0F4C75;
	--color-menu-link: #BBE1FA;
	--color-menu-bg: #27374D;
	--color-bg: #27374D;
	--color-text: #DDE6ED;
	--color-link: #B83B5E;
	--color-link-visited: #F08A5D;
    }
}

body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--color-text);
  background: var(--color-bg);
}

html, body {
  /*overflow-x: hidden;*/
}

code {
	/*font-family: Courier;*/
	font-size: initial !important;
	margin: 30px 0px;
}

a:link {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

h1 {
	margin-top: 40px;
	margin-bottom: 60px;
	text-align: center;
}

h2,
h3 {
  line-height: 1.2;
}

img {
	height: auto;
}

.topshort {
	font-style: italic;
	text-align: center;	
}

div {
  /*border: 0.5px solid black;*/
  padding: 0px 15px;
}

.page-menu a {
    color: var(--color-menu-link);
    font-weight: 550;
    padding: 2px
}

.page-menu a:hover {
    color: var(--color-menu-hover);
    background-color: var(--color-menu-bg);
    text-decoration: none
}

*,*::before,*::after {
    box-sizing: border-box
}

.page-menu {
    font-size: 18px;
    text-align: end;
    width: 100%;
    margin-top: 0px;
}

.page-menu a {
    font-family: ZillaSlab-Regular;
    text-transform: lowercase
}

.page-menu .menu-toggle:focus+.menu,.page-menu .menu:hover {
    display: block;
    border: 1px solid var(--color-menu-hover)
}

.page-menu .menu:hover {
	border:0px;
	display: flex
}

.page-menu .menu {
    background: var(--color-menu-bg);
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*position: absolute;
    right: 0;
    top: 0;
    display: none;
    overflow: visible;
    text-align: start*/
}

.page-menu .menu {
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 0;
	position: relative;
	overflow: visible;
	width: 100%
}
/*
.page-menu .menu-toggle {
    position: relative;
    z-index: 10;
    display: inline-block
}*/

.page-menu .menu-toggle span {
    display: block;
    height: 1.5rem;
    width: 1.5rem
}

.page-menu .menu-toggle {
	display:none
}

.page-menu .menu-item {
    display: block
}

.page-menu .menu-item:not(:last-child) {
	border-right:1px solid var(--color-menu-link)
}

.page-menu .menu-link {
    color: var(--color-menu-link);
    cursor: pointer;
    display: block;
    flex: none;
    min-width: 50px;
    padding: 0px 0px;
    text-decoration: none
}

.page-menu .menu-link:hover,.page-menu .menu-link:focus,.page-menu .menu-link.active {
    color: var(--color-bg);
    background-color: var(--color-menu-hover);
    text-decoration: none
}

.page-menu .menu-link {
	padding:0px 15px;
}