<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">
    <meta name="google-site-verification" content="2sQ67xuPDJcJ7IsuWzK7DUJwk5OOeFN3Ih14e3317Dc" />
    <link rel="stylesheet" href="{{ '/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="stylesheet" href="highlight/styles/night-owl.css">
	<script src="highlight/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
	<link rel="icon" href="images/miner-lamp.svg">
  </head>

    <!--div id='header' style='height:40px;'>
        <div style="float:left;display:flex;justify-content:center;align-items:center;flex-direction:column;"><img src="images/miner-lamp.svg" style="width:42px;height:42px;"></div>
        <div style="float:right;width:15%;height:100%;"><a href="#" class="button">C</a></div>
        <div style="float:right;width:15%;height:100%;"><a href="#" class="button">Contents</a></div>
        <div style="float:right;width:15%;height:100%;"><a href="#" class="button">About</a></div>
	</div-->
	<div style="padding:0;" id='header'>
		<nav class="page-menu">
			<ul class="menu" id="menu">
			<li class="menu-item"><a href="/blog/" class="menu-link">Blog</a></li>
			<li class="menu-item"><a href="/docs/" class="menu-link">Docs</a></li>
			<li class="menu-item"><a href="/contribute/" class="menu-link">Contribute</a></li>
			<li class="menu-item"><a href="/etc/" class="menu-link">etc.</a></li>
			</ul>
		</nav>
	</div>
	
    <div id='body' style="clear: both;">
        {{ content }}
    </div>

    <div id='footer' style='height:150px;position: relative;width: 100%;background-color: #333333'>
        <a href="mailto:anthracitelabs@gmail.com" target="_blank"><img src="images/miner-lamp.svg" alt="mail to us" style="width:42px;height:42px;"></a>
        <p class="copyright" style='position: absolute;width: 100%;color: #fff;line-height: 40px;font-size: 0.7em;text-align: center;bottom:0;'>
            copyleft © anthracite labs 2026</p>
    </div>

</html>
