:root {
    --color-primary: #ffd681;
    --color-dim-primary: #8f8d8d;
    --color-dim-bg: #201b37;
    --color-text: #ffd681;
    --color-link: #ffd681;
    --color-bg: #110b2b;
    --color-logo-full: #ffd681;
    --color-logo-1: #110b2b;
    --color-logo-2: #ffd681
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: black;
        --color-dim-primary: #696969;
        --color-dim-bg: #fafafa;
        --color-link: #444;
        --color-bg: white;
        --color-logo-full: black;
        --color-logo-1: black;
        --color-logo-2: white
    }
}

@font-face {
    font-family: ZillaSlab-Regular;
    src: url("/assets/fonts/ZillaSlab-Regular.ttf")
}

@font-face {
    font-family: PT-Sans-S55;
    src: url("/assets/fonts/pt-sans/PTS55F-webfont.woff")
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

:focus {
    outline-offset: .125rem;
    outline-style: solid;
    outline-width: .125rem
}

.logo-box a:focus {
    outline: 0
}

.page-menu :focus {
    outline-offset: 0;
    outline-color: var(--color-primary)
}

.submenu :focus {
    outline: 0
}

.main-content {
    font-size: 1rem;
    padding: 0px 0
}

.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
    color: var(--color-primary);
    font-family: ZillaSlab-Regular;
    font-weight: 550;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.main-content h1:not(:first-child),.main-content h2:not(:first-child),.main-content h3:not(:first-child),.main-content h4:not(:first-child),.main-content h5:not(:first-child),.main-content h6:not(:first-child) {
    margin-top: 3rem
}

.main-content h2 {
    background-color: var(--color-primary);
    color: var(--color-bg);
    display: inline-block;
    font-size: 1.5em;
    padding: 0 10px 0 10px
}

.main-content ul,.main-content p {
    margin-bottom: 1rem
}

.main-content hr {
    border: none;
    border-bottom: 1px solid var(--color-primary);
    width: 100%
}

@media (min-width: 680px) {
    .main-content {
        padding:0px 0
    }
}

.main-content pre {
    overflow-x: auto
}

.main-content img {
    max-width: 100%
}

ul {
    list-style: circle
}

a {
    color: var(--color-primary);
    font-weight: 550;
    padding: 2px
}

a:hover {
    color: var(--color-bg);
    background-color: var(--color-primary);
    text-decoration: none
}

h1+hr,h2+hr,h3+hr {
    margin-top: -21px
}

.blog-list {
    list-style: none;
    padding: 0
}

.blog-list__item {
    clear: both;
    margin: 35px 0 35px 0
}

.blog-list__item-author {
    display: block
}

.blog-list__item-title {
    display: block;
    margin: 0 !important
}

.blog-list__item-title a {
    background-color: var(--color-bg);
    color: var(--color-primary);
    padding: 5px 10px 5px 10px;
    margin-left: -10px;
    font-family: ZillaSlab-Regular
}

.blog-list__item-title a:hover {
    background-color: var(--color-primary);
    color: var(--color-bg)
}

@media (min-width: 680px) {
    .blog-list__item-title {
        display:inline-block
    }
}

.blog-list__item-meta {
    display: block;
    margin-left: auto
}

@media (min-width: 680px) {
    .blog-list__item-meta {
        display:inline-block
    }
}

.blog-list__item-excerpt {
    display: block;
    padding: 10px 0
}

.blog-list__condensed {
    list-style: circle
}

.blog-list__condensed .blog-list__item {
    clear: both
}

.blog-list__condensed .blog-list__item-title {
    display: inline-block
}

.blog-list__condensed .blog-list__item-title a {
    padding: inherit;
    font-family: PT-Sans-S55
}

.blog-list__condensed .blog-list__item-meta {
    min-width: 100px;
    display: inline-block
}

.blog-list__condensed .blog-list__item {
    margin: 0 0 0 40px
}

.gallery__poster {
    max-width: 100%
}

@media (min-width: 680px) {
    .gallery__poster {
        max-width:550px;
        max-height: 600px
    }
}

.gallery a:hover {
    background-color: transparent;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%)
}

.gallery a:active {
    background-color: transparent
}

.gallery__remote {
    max-width: 100%
}

@media (min-width: 680px) {
    .gallery__remote {
        max-width:550px;
        max-height: 600px
    }
}

@media (min-width: 920px) {
    .g-row {
        display:flex;
        flex-direction: row
    }

    .g-row .g-col-3 {
        flex: 0 0 25%
    }

    .g-row .g-col-8 {
        flex: 0 0 66.6666666667%
    }

    .g-row .g-col-9 {
        flex: 0 0 75%
    }
}

*,*::before,*::after {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    background: var(--color-bg);
    color: var(--color-primary);
    font-family: PT-Sans-S55;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0
}

h1 {
    font-family: ZillaSlab-Regular
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 20px;
    width: 100%
}

.hidden {
    display: none
}

@media (min-width: 680px) {
    .container {
        padding:0 45px 30px
    }
}

.logo-box {
    line-height: 0px;
    flex-shrink: 0;
    z-index: 3;
    padding-top: 1.5em
}

.logo-box a {
    text-decoration: none
}

.logo-box a:hover {
    background-color: transparent
}

.logo-box .large {
    display: none
}

.logo-box .small {
    display: block;
    width: 100px
}

@media (min-width: 680px) {
    .logo-box {
        padding-top:4.95em
    }

    .logo-box .large {
        display: block;
        width: 300px
    }

    .logo-box .small {
        display: none
    }
}

@media (min-width: 920px) {
    .logo-box {
        padding-top:4.2em
    }

    .logo-box .large {
        width: 400px
    }
}

.spidermonkey-circle {
    fill: var(--color-primary)
}

.spidermonkey-logo {
    fill: var(--color-primary);
    fill-opacity: 1;
    stroke: none
}

.spidermonkey-text {
    font-size: 17.6389px;
    font-family: ZillaSlab-regular;
    fill: var(--color-primary)
}

.spidermonkey-small {
    fill: var(--color-bg)
}

.page-header {
    align-items: flex-start;
    background: inherit;
    display: flex;
    flex-direction: row
}

.page-header .page-menu {
    margin-left: 90px
}

@media (min-width: 680px) {
    .page-header .page-menu {
        margin-left:30px
    }
}

@media (min-width: 1200px) {
    .page-header .page-menu {
        font-size:1.1em;
        margin-left: 90px
    }
}

footer {
    background-color: var(--color-dim-bg);
    padding-top: 10px
}

.page-footer {
    clear: both;
    color: var(--color-dim-primary);
    font-size: 12px;
    font-weight: 400;
    min-height: 100px;
    overflow: auto;
    padding: 0 4% 40px;
    width: 100%
}

.page-footer h3 {
    border-bottom: 1px solid var(--color-dim-primary);
    font-weight: 400;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    padding-bottom: 1em
}

.page-footer ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.page-footer__link {
    color: var(--color-dim-primary);
    font-weight: 400;
    line-height: 32px;
    text-decoration: underline
}

.page-footer__link .icon {
    clear: left;
    float: left;
    max-height: 32px;
    max-width: 36px;
    padding-right: 1em
}

.page-footer__link .icon path {
    fill: var(--color-dim-primary)
}

.page-footer__link .icon .spidermonkey-small {
    fill: var(--color-bg)
}

.page-footer__link .icon .spidermonkey-circle {
    fill: var(--color-dim-primary)
}

.page-footer__link:active .icon path,.page-footer__link:focus .icon path,.page-footer__link:hover .icon path {
    fill: var(--color-link)
}

.page-footer__link:hover .icon .spidermonkey-small {
    fill: var(--color-bg)
}

.page-footer__link:hover .icon .spidermonkey-circle {
    fill: var(--color-link)
}

.page-footer__link span {
    line-height: 32px
}

.page-footer .color-toggle,.page-footer .color-clear {
    cursor: pointer
}

@media (min-width: 920px) {
    footer {
        padding-top:30px
    }
}

.skip-menu {
    opacity: 0;
    position: absolute;
    right: 84px;
    top: 10px;
    z-index: 10
}

.skip-menu:focus {
    opacity: 1
}

.page-menu {
    font-size: 18px;
    text-align: end;
    width: 100%;
    margin-top: 15px
}

.page-menu a {
    font-family: ZillaSlab-Regular;
    text-transform: lowercase
}

@media (min-width: 680px) {
    .page-menu {
        margin-top:74px
    }
}

.page-menu .menu-toggle:focus+.menu,.page-menu .menu:hover {
    display: block;
    border: 1px solid var(--color-primary)
}

@media (min-width: 680px) {
    .page-menu .menu:hover {
        border:0px;
        display: flex
    }
}

.page-menu .menu {
    background: var(--color-bg);
    list-style-type: none;
    margin: 45px 20px 10px 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    overflow: hidden;
    text-align: start
}

@media (min-width: 680px) {
    .page-menu .menu {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 1em 0;
        position: relative;
        overflow: visible;
        width: 100%
    }
}

.page-menu .menu-toggle {
    position: relative;
    z-index: 10;
    display: inline-block
}

.page-menu .menu-toggle span {
    display: block;
    height: 1.5rem;
    width: 1.5rem
}

@media (min-width: 680px) {
    .page-menu .menu-toggle {
        display:none
    }
}

.page-menu .menu-item {
    display: block
}

@media (min-width: 680px) {
    .page-menu .menu-item:not(:last-child) {
        border-right:1px solid var(--color-primary)
    }
}

.page-menu .menu-link {
    color: var(--color-link);
    cursor: pointer;
    display: block;
    flex: none;
    min-width: 50px;
    padding: 10px 20px;
    text-decoration: none
}

.page-menu .menu-link:hover,.page-menu .menu-link:focus,.page-menu .menu-link.active {
    color: var(--color-bg);
    background-color: var(--color-primary);
    text-decoration: none
}

@media (min-width: 680px) {
    .page-menu .menu-link {
        padding:0px 10px
    }
}
